src/main/resources/country.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="country"
           targetNamespace="country" elementFormDefault="qualified">

    <!-- REQUEST TYPES -->
    <xs:element name="countryByCodeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="isoCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="countryByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="pageRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="page" type="xs:int"/>
                <xs:element name="size" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addCountryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="isoCode" type="xs:string"/>
                <xs:element name="coordinates" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- RESPONSE TYPES -->

    <xs:element name="countryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="tns:country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="countriesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="countries" type="tns:country" minOccurs="0" maxOccurs="unbounded">
                </xs:element>
                <xs:element name="totalElements" type="xs:long" minOccurs="0"/>
                <xs:element name="totalPages" type="xs:int" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- CUSTOM TYPES -->

    <xs:complexType name="country">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="isoCode" type="xs:string"/>
            <xs:element name="coordinates" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>